<div class="container-fluid">
    <header class="jumbotron text-center">
        <h5>The Cozy Comb Restro Welcomes you.</h5>
    </header>
    <main>
        <section>
            <article>
                Cozy Comb Restro  is an Indian multinational restaurant aggregator and food delivery company. Cozy Comb Restro provides information, menus and user-reviews of restaurants as well as food delivery options from partner restaurants in more than 1,000 Indian cities and towns, as of 2022–23. Cozy Comb Restro is the only app you need for the quickest doorstep delivery or to find the best restaurants. 
            </article>
        </section>
    </main>
</div>